body {
  font-family: sans-serif;
  text-align: center;
  background:url("https://media2.giphy.com/media/3ohs4ucXR6NYRxmpTa/giphy.gif");
  background-size: 150%;
  background-color:rgb(30, 30, 37);
  background-position: center;
  background-repeat: repeat-x;
  color:rgb(58, 204, 18);
}

h1 {
  margin-top: 0;
  font-size: 30px;
  color:rgb(168, 207, 207);
}

p {
  margin-bottom: 5px;
}

table {
  width: 10;
  border-collapse: collapse;
  margin-top: 20px auto;
}
table, th, td {
  border: 2px solid #6a7880;
  size: 10%;
}
th, td {
  padding:3px;
  text-align: justify;
}

#guess {
  padding: 5px;
  margin-right: 5px;
  width: 100px;
}

#submit {
  padding: 5px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

#reset {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
}

#playAgain {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f48236;
  color: white;
  font-size: 16px;
}

#message {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
